[submodule "iphone/RestKit"]
	path = iphone/RestKit
	url = https://github.com/RestKit/RestKit.git
[submodule "iphone/hpple"]
	path = iphone/hpple
	url = https://github.com/topfunky/hpple.git
[submodule "iphone/TimeScroller"]
	path = iphone/TimeScroller
	url = https://github.com/andrewroycarter/TimeScroller.git
[submodule "iphone/MKStoreKit"]
	path = iphone/MKStoreKit
	url = https://github.com/MugunthKumar/MKStoreKit
